<mat-toolbar  color="primary">
  <button (click)=open() mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Mail</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-container">
  <mat-drawer class="sidenav-container" mode="side" [opened]="isOpen">
    <mat-list-item class="sidenav-item" (click)=showIncome() >
      <mat-icon>inbox</mat-icon>
      Recibidos
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="sidenav-item" (click)=showSent()>
      <mat-icon>send</mat-icon>
      Enviados
    </mat-list-item>
    <mat-divider></mat-divider>
      <mat-icon>folder_open</mat-icon>
      Etiquetas
    <mat-divider></mat-divider>
      <div *ngFor="let folder of folders">
        <mat-list-item class="sidenav-sub-item" (click)="filterMails(folder.id)">{{folder.label}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
  </mat-drawer>
  {{folders}}
  <mat-drawer-content>
    {{title}}
    <button mat-button  matTooltip="Crear Mail" color="primary" (click)="sendNewMail()">
      <mat-icon> email</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Eliminar" color="warn" (click)="deleteMail()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Crear Nueva Carpeta" color="primary" (click)="createFolder()">
      <mat-icon>create_new_folder</mat-icon>
    </button>


      <button mat-icon-button matTooltip="Agregar A Carpeta"
       [matMenuTriggerFor]="settingsMenu" color="primary" >
        <mat-icon>label</mat-icon>
      </button>
      
      <mat-menu #settingsMenu="matMenu">
        <ng-container *ngFor="let folder of folders">
          <menu mat-menu-item (click)="setLabel(folder.id)">{{folder.label}}</menu>
        </ng-container>
      </mat-menu>
      <!--
      <mat-menu #settingsMenu="matMenu" *ngFor="let folder of folders">
        <button mat-menu-item (click)="setLabel(folder.id)">{{folder.label}}</button>
      </mat-menu> 
-->

    <a class="logout-button" mat-button (click)="logout()">Logout</a>
    <div class="mat-elevation-z8">
          
      <table mat-table [dataSource]="dataSource">
    
        <!-- Checkbox Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element">  
            <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
          </td>
        </ng-container>
    
        <!-- from - to Column -->
        <ng-container matColumnDef="fromAddress">
          <th mat-header-cell *matHeaderCellDef> {{title === 'Recibidos' ? 'Remitente' : 'Destinatario'}}</th>
          <td [ngClass]="{'unread': !element.read}" mat-cell *matCellDef="let element"> {{title === 'Recibidos' ? element.fromAddress : 'Para: ' + element.toAddress}} </td>
        </ng-container>
    
        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Asunto </th>
          <td [ngClass]="{'unread': !element.read}" class="subject-element" mat-cell *matCellDef="let element" (click)="readMail(element.id)"> {{element.subject}} </td>
        </ng-container>
    
        <!-- Date Column -->
        <ng-container matColumnDef="sendDate">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td [ngClass]="{'unread': !element.read}" mat-cell *matCellDef="let element"> {{element.sendDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      
      <mat-paginator [length]="length"
      [pageSize]="10"
      [pageSizeOptions]="[10]" 
      (page)="onPaginateChange($event)"  showFirstLastButtons></mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
