<mat-toolbar  color="primary">
  <button (click)=open() mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-container">
  <mat-drawer class="sidenav-container" mode="side" [opened]="isOpen">
    <mat-list-item class="sidenav-item" (click)=showIncome() >Recibidos</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="sidenav-item" (click)=showSent()>Enviados</mat-list-item>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-drawer-content>
    {{title}}
    <button mat-button color="primary" (click)="sendNewMail()">Nuevo Correo</button>
    <div class="mat-elevation-z8">
     
      a
      b
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
     c
     
     
      <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="fromAddress">
          <th mat-header-cell *matHeaderCellDef> {{title === 'Recibidos' ? 'Remitente' : 'Destinatario'}}</th>
          <td [ngClass]="{'unread': !element.read}" mat-cell *matCellDef="let element"> {{title === 'Recibidos' ? element.fromAddress : 'Para: ' + element.toAddress}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Asunto </th>
          <td [ngClass]="{'unread': !element.read}" class="subject-element" mat-cell *matCellDef="let element" (click)="readMail(element.id)"> {{element.subject}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="sendDate">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td [ngClass]="{'unread': !element.read}" mat-cell *matCellDef="let element"> {{element.sendDate}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      
      <mat-paginator [length]="length"
      [pageSize]="10"
      [pageSizeOptions]="[10]" 
      (page)="onPaginateChange($event)"  showFirstLastButtons></mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



