<mat-toolbar  color="primary">
  <button (click)=open() mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-container">
  <mat-drawer class="sidenav-container" mode="side" [opened]="isOpen">
    <mat-list-item class="sidenav-item" (click)=showIncome() >Recibidos</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="sidenav-item" (click)=showSent()>Enviados</mat-list-item>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-drawer-content>
    {{title}}
  </mat-drawer-content>
</mat-drawer-container>