.main-container {
  height: calc(100% - 64px);
}

.sidenav-container {
  width: 150px;
}

.sidenav-item {
  height: 70px;
}

.sidenav-item:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

td.subject-element {
  cursor: pointer;
}

::ng-deep .mat-list-item-content {
  height: 40px;
}