.main-container {
  height: calc(100% - 64px);
}

.sidenav-container {
  width: 150px;
}

.sidenav-item {
  height: 70px;
}

.sidenav-sub-item:hover {
  cursor: pointer;
}

.logout-button {
  position: absolute;
  right: 10px;
  top: 2px;
}

.sidenav-item:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

td.subject-element {
  cursor: pointer;
}

td.unread {
  font-weight: bold;
}

::ng-deep .mat-list-item-content {
  height: 40px;
}

::ng-deep .sidenav-sub-item > .mat-list-item-content {
  margin-left: 20px;
}