.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.select-field {
  width: 30%;
  margin-left: 10px;
}