
<div class="container mat-app-background">
  <form class="example-form">
    <div class="title-container">
      <button class="button-item" mat-icon-button color="primary" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <p class="title">Nuevo Mail</p>
    </div>
    <mat-form-field class="input-item" appearance="fill">
      <mat-label>Para</mat-label>
      <input
        type="email"
        maxlength="45"
        matInput
        [formControl]="toFormControl"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="toFormControl.hasError('email') && !toFormControl.hasError('required')">
        Por favor ingrese un mail valido
      </mat-error>
      <mat-error *ngIf="toFormControl.hasError('required')">
        Email es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="input-item" appearance="fill">
      <mat-label>Asunto</mat-label>
      <input maxlength="45" matInput [formControl]="subjectFormControl">
    </mat-form-field>
    <br>
    <mat-form-field class="input-item" appearance="fill">
      <mat-label>Mensaje</mat-label>
      <textarea maxlength="500" rows="15" matInput [formControl]="messageFormControl"></textarea>
    </mat-form-field>
    <input hidden type="file" #imgFileInput id="avatar" (change)="onFileChange($event)" #fileInput> 
  </form>
  <div class="buttons-container">
    <button
      class="button-attach"
      mat-icon-button
      color="primary"
      (click)="imgFileInput.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    <p class="attach-img" *ngIf="selectedFile.name">{{selectedFile.name}}</p>
    <button
      mat-raised-button
      color="primary"
      (click)="send()"
      [disabled]="toFormControl.hasError('email') || toFormControl.hasError('required')"
    >
      Enviar
    </button>
  </div>
</div>
