.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-item {
  width: 80%;
  margin-left: 10%;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.title-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.title {
  height: 40px;
  padding-top: 10px;
}

.button-attach {
  margin-left: 10%;
  margin-right: 20px;
}

.attach-img {
  margin-left: 10px;
}