
<div class="container mat-app-background">
  <form class="example-form">
    <div class="title-container">
      <button class="button-item" mat-icon-button color="primary" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <button class="button-reply" mat-icon-button color="primary" (click)="sendReply()">
        <mat-icon>reply</mat-icon>
      </button>
    </div>
    <mat-card>
      <mat-card-title>
        {{subject}}
      </mat-card-title>
      <mat-card-subtitle>
        {{fromAddress}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{sendDate}}
      </mat-card-subtitle>
      <mat-card-content>
        {{message}}
      </mat-card-content>
    </mat-card>
  </form>
  <div class="buttons-container">
    <button class="button-attach" mat-icon-button color="primary">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>
